Library
UserSettings
Logs
Temp
Assets/TutorialInfo
Assets/TutorialInfo.meta
BravoProject.sln
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
.vs/
*.suo
*.user
*.cache
*.db
*.vsidx
*.csproj
.vs/BravoDUS/v17/.suo
.vs/BravoDUS/v17/fileList.bin
